<div class="summary-container">
    <div class="recent-summary">
        <div class="summary-banner">
            <span>Period 1</span>
        </div>
        <ul class="simple-list">
            <a><li>Pending Reports</li></a>
            <a><li>Pending Import</li></a>
            <a><li>Bank Account Check</li></a>
            <a><li>Pre-processing validation</li></a>
            <a><li>Processing</li></a>
            <a><li>Post-processing validation</li></a>
            <a><li>Complete</li></a>
        </ul>
    </div>
    <div class="container">
        <a href="./reports"><span class="button">Generate Report</span></a>
        <a href="./process"><span class="button">Process Individual Commission</span></a>
        <a href="./export"><span class="button">Export MYOB data</span></a>
        <a href="./script"><span class="button">Run Scripts</span></a>
        <a href="./"><span class="button">Back</span></a>
    </div>
</div>