<div class="summary-container">
    <div class="recent-summary">
        <div class="summary-banner">
            <a href="./period"><span>Period 1</span></a>
        </div>
        <ul class="simple-list">
            <li>Pending Reports</li>
            <li>Pending Import</li>
            <li>Bank Account Check</li>
            <li>Pre-processing validation</li>
            <li>Processing</li>
            <li>Post-processing validation</li>
            <li>Complete</li>
        </ul>
    </div>
    <div class="recent-summary">
        <div class="summary-banner">
            <a href="./period"><span>Period 2</span></a>
        </div>
        <ul class="simple-list">
            <li>Pending Reports</li>
            <li>Pending Import</li>
            <li>Bank Account Check</li>
            <li>Pre-processing validation</li>
            <li>Processing</li>
            <li>Post-processing validation</li>
            <li>Complete</li>
        </ul>
    </div>
    <div class="recent-summary">
        <div class="summary-banner">
            <a href="./period"><span>Period 3</span></a>
        </div>
        <ul class="simple-list">
            <li>Pending Reports</li>
            <li>Pending Import</li>
            <li>Bank Account Check</li>
            <li>Pre-processing validation</li>
            <li>Processing</li>
            <li>Post-processing validation</li>
            <li>Complete</li>
        </ul>
    </div>
</div>
<div class="period-list">
    <div class="summary-banner">
        <span>List of Previous period</span>
    </div>
    <ul class="simple-list">
        <li>Period 1: Period Date, Period Id</li>
        <li>Period 2: Period Date, Period Id</li>
        <li>Period 3: Period Date, Period Id</li>
        <li>Period 4: Period Date, Period Id</li>
        <li>Period 5: Period Date, Period Id</li>
        <li>Period 6: Period Date, Period Id</li>
        <li>Period 7: Period Date, Period Id</li>
        <li>Period 8: Period Date, Period Id</li>
        <li>Period 9: Period Date, Period Id</li>
        <li>Period 10: Period Date, Period Id</li>
    </ul>
</div>
